{% schema %}
{
  "name": "Custom Design Studio",
  "target": "body",
  "settings": []
}
{% endschema %}

{%- if template contains 'product' -%}
  <div id="designer-extension-root" 
       data-product-id="{{ product.id }}" 
       data-shop-url="{{ shop.domain }}">
  </div>

  <script>
    window.appConfig = {
      appUrl: "{{ app.metafields.studio.app_url | default: 'https://print-on-demand.test' }}"
    };
  </script>
  <script src="{{ 'designer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
